@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');

:root {
    --red: #B20928;
    --blue: #261EE4;
    --bg-dark: #090B0D;
    --light-grey: #e0dede;
    --menu-height: 75px;
    --text-color: #E0DEDE;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--bg-dark);
}

body, button, input, select, textarea {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

h1 {
    font-size: 44px;
    font-family: 'Space Grotesk';
}

h2 {
    font-size: 24px;
    font-family: 'Space Grotesk';
}

button {
    background: var(--blue);
    border: 0;
    padding: 12px 35px;
    color: #ffffff;
    font-family: 'Space Grotesk';
    font-weight: bold;
    font-size: 16px;
}

.title-blue {
    color: var(--blue);
}

header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container img {
    display: none;
}

header .container button {
    margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--menu-height);
    background: var(--bg-dark);
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 99;

}

nav img {
    height: 45px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    font-family: 'Space Grotesk';
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

nav ul a svg {
    display: none;
}

.about-me {
    display: flex;
    padding: 100px;

}

.about-me .container {
    width: 50%;
    padding-right: 50px;

}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;

}

.about-me .img-container img {
    width: 50%;
    height: 100%;
    object-fit: cover;

}

.about-me .img-container .line {
    width: calc(50% + 50px);
    height: calc(100% + 50px);
    border: 1px solid var(--red);

    position: absolute;
    top: -25px;
    left: calc(50% - 50%/2 - 25px);

}

.about-me .img-container .line.green {
    transform: rotate(-3.3deg);
    color: var(--blue);
}

.services {
    text-align: center;
    margin: 150px 0;
    padding: 0 100px;
}

.services-container {
    margin: 60px auto 0;
    display: flex;
    text-align: left;
    justify-content: space-between;
    max-width: 1200px;

}

.services .services-container .services-card {
    max-width: 360px;
    padding: 35px;
    background: var(--bg-dark);
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient( to bottom, rgba(184, 194, 204, 1), rgba(184, 194, 204, 0)) 1;


} 
.services .services-container .inverse {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient( to top, rgba(184, 194, 204, 1), rgba(184, 194, 204, 0)) 1;
}

.services .services-container .services-card img {
    margin: 40px 0;
    width: 20%;

}

.services .services-container .services-card p {
    color: var(--text-color);

}

.services-card + .services-card {
    margin-left: 15px;
}

/* Responsive */

/* Small Desktops */
@media (max-width: 1000px) {
    header .container {
        width: 100%;
    }
    
    nav ul a {
        font-size: 16px;
    }
    
    nav {
        padding: 30x;
    }

    .about-me {
        flex-direction: column;
    }

    .about-me .container, .about-me .img-container {
        width: 100%;
    }

    .about-me .container {
        padding-right: 0;
    }

    .about-me .img-container {
        margin: 70px 0;
    }

    .services {
        padding: 0;
    }

    .services .services-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .services-card {
        height: 394px;
    }

    .services .services-container .services-card {
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient( to top, rgba(184, 194, 204, 1), rgba(184, 194, 204, 1)) 1;
    }

    .services .services-container .inverse {
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient( to top, rgba(184, 194, 204, 1), rgba(184, 194, 204, 1)) 1;
    }

    .services-card + .services-card {
        margin-left: 0px;
        margin-top: 30px;
    }
}

/* Tablet */
@media (max-width: 767px) {
    header .container {
        width: 100%;
    }

    header .container img {
        display: inline;
        margin-bottom: 70px;
        width: 30%;
    }

    nav {
        padding: 30px;
    }

    nav img {
        display: none;
    }

    nav ul {
        padding: 0;
    }
   
    nav ult a {
        font-size: 16px;
    }
}

/* Smarthphone */
@media (max-width: 480px) {
    header .container {
        padding: 40px;
    }

    nav {
        padding: 15px;
        width: 100%;
        position: fixed;
        top: unset;
        bottom: 0;
    }

   nav ul a {
       font-size: 12px;
   }

    nav ul a svg {
        display: block;
        margin: 0 auto 20px;
    }

    .about-me {
        padding: 40px;
    }

    .services {
        margin: 70px 0;
    }

    .services .services-container {
    padding: 0 20px;
}

}